body {
  font-family: 'Roboto', sans-serif;
  
}

html, body {
  height: 100%;
  width: 100%
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.App-header {
  padding: 0 .5em;
  position: fixed
}


.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.modal { 
  width: 40%;
  position: fixed;
  top: 80%;
  left: 50%;
  margin-top: -465px;
  margin-left: -22%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  z-index: 11;
  padding: 2em 1em;
}

.modal-header {
  margin: 0
}

.player-detail > p{
  font-size: 12px;
  color: rgb(168, 161, 161),
  
}

.close-btn {
  width: 170px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid rgb(218, 8, 183);
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1em;
}

.close-btn:hover {
  color: white;
  background-color:  rgb(218, 8, 183);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(2px);
}

.main {
  display: flex;
  justify-content: flex-start;
  margin: 1em;
  padding: 0 2em;
  padding-top: 60px;
}

.button-group {
  margin-right: 0;
}
.button-group-btn {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.game-btn {
  font-size: 1em;
  color:#DB2B94;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: 900;
  width: 100px;
  padding: 1em;
  margin: 2em;
  background-color:white;
  border-radius: 40px;
  border: 1px solid #DB2B94;
  outline: none;
}

.game-btn:hover {
  color: white;
  padding: 1em;
  margin: 2em;
  background-color: #DB2B94;
  border-radius: 45px;
  border: 1px solid #DB2B94;
  box-shadow: 0px 15px 20px rgba(219, 43, 148, 0.4);
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: translateY(-7px);
  outline: none;
}

.team-details {
  display: flex;
  justify-content: space-between
 
}

.team-details-btn {
  color: #282c34;
  text-align: center;
  font-weight: 900; 
  display: flex;
  cursor: pointer;
  width: 70px;
  height: 50px;
  border: 1.5px solid #282c34;
  border-radius: 5px; 
  margin: .05em;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
}

.team-details-btn:hover {
  color: white;
  background: #282c34;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  transform: translateY(-7px);
  outline: none;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1em;
  font-size: 16px;
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
}

.header-text {
  margin: .35em .25em  .5em .35em;
}

.logo {
  margin-left: 5px;
}

.bracket{
  display: flex;
  flex-direction: row;
  padding: 0 .5em;
  margin: .5em;
}

.small-bracket {
  display: flex;
  flex-direction: row;
  padding-left: 6em;
  margin: .5em;
}


.round {
  display: flex;
  flex-direction: column;
  padding: 0 .05em
  
}

.match {
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid rgb(190, 189, 189);
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: .15em;
  padding: .75em

}

.match-win {
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #61dafb;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin: .25em;
  padding: .75em

}

.team {
  margin: 2px;
  font-size: 10px;
  font-weight: bold;
}


.select-winner-btn {
  color: white;
  border-left: 6px solid gray;
  font-size: 12px;
  font-weight: bolder;
  text-align: left;
  width: 145px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  background: #d6249f;
  background: radial-gradient(circle at 10% 107%,#fd5949 0%,#d6249f 40%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  text-transform: lowercase;
}


.winner {
  color: white;
  border-left: 8px solid mediumaquamarine;
  border: 3px solid mediumaquamarine;
  text-transform: lowercase;
  font-weight: bolder;
  width: 150px;
  height: 30px;
  text-align: left;
  border-radius: 5px;
  background: #d6249f;
  background: radial-gradient(circle at 10% 107%,#fd5949 0%,#d6249f 40%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  outline: none;
}


.grand-winner-text {
  transform: translateY(-10px);
  transition: all 0.3s ease 0s;
  font-size: 10px;
  padding: 1em;
  color: gray;
  z-index: 11;
}
.grand-winner {
  color: white;
  border-left: 8px solid mediumaquamarine;
  border: 3px solid mediumaquamarine;
  font-size: 12px;
  font-weight: bolder;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: radial-gradient(circle at 10% 107%,#99bb3a 5%,#4e8086 40%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  transform: translateY(20px);
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.winner:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.player-ruler {
  padding: 1em 2em;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.connector {
  display:flex;
  width: 10px;
  height: 100px;
  margin: 0
}

.connector-second {
  display:flex;
  width: 10px;
  height: 200px;
  margin: 0
}


.connector-final {
  display:flex;
  width: 10px;
  height: 50px;
  margin: 0
}

.vertical-line-left {
  border-right: 1px solid rgb(231, 230, 230);
  display: flex;
  width: 0
}

.vertical-line-right {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 10px
}


.inner-div-top{
  width: 20px;
  height: 50px;
}

.inner-div-bottom{
  border-top: .1px solid rgb(168, 167, 167);
  width: 20px;
  height: 50px;
}

.match-connector {
  display: flex;
}



