.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly ;
}

.main {
  display: flex;
 
  justify-content: space-between;
  margin: 1em;
}

.button-group {
  display: flex;
  flex-direction: column;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 8vh;
  min-width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
}

.header-text {
  margin: .35em .25em  .5em .35em;
}

.logo {
  margin-left: 5px;
}

.App-link {
  color: #61dafb;
}

.bracket{
  display: flex;
  flex-direction: row;
  /* border: 1px solid pink */

  /* margin: 2em 2em 2em 8em ; */
  
}

.round {
  display: flex;
  flex-direction: column;

  /* padding: .5em; */


}

.match {
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-left: 1px solid white;
  margin: 0 .2em 0 .5em

}

.team {
  /* border: 1px solid black; */
  margin: 2px;
  font-size: 10px;
  font-weight: bold;
}


.select-winner-btn {
  color: white;
  /* border-left: 8px solid mediumaquamarine; */
  border-left: 8px solid gray;
  font-size: 12px;
  font-weight: bolder;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: #d6249f;
  background: radial-gradient(circle at 10% 107%,#fd5949 0%,#d6249f 40%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25)
}


.winner {
  color: white;
  /* border-left: 8px solid mediumaquamarine; */
  border-left: 8px solid mediumaquamarine;
  font-size: 12px;
  font-weight: bolder;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: #d6249f;
  background: radial-gradient(circle at 10% 107%,#fd5949 0%,#d6249f 40%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25)
}


.winner:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
 .tree {
   display: flex
 }

 .node {
   margin-top: 100px;
 }


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
